<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Order Detail</title>
</head>
<h2>Order Detail</h2>

<body>

 <table border="1">

	    <tr>
	        <th>
	        	Order Name
	        </th>
	        <th>
	        	Status
	        </th>
	        <th>
	        	Destination Address	
	        </th>
	        <th>
	        	Recipient Contact
	        </th>
	        <th>
	        	Tracker Id
	        </th>
	    </tr>
	
	    <tr>
	        <td th:text="${order.orderName}">orderName</td>
	        <td th:text="${order.orderStatus}">orderStatus</td>
	        <td th:text="${order.destinationAdd}">destinationAdd</td>
	        <td th:text="${order.recipientContact}">recipientContact</td>
	        <td th:text="${order.trackerId}">recipientContact</td>
	    </tr>
	</table>
<br>
<a href="/"><== Back to home</a>

</body>
</html>