<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Orders</title>
	<link rel="stylesheet" type="css"
              href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
    <!-- <div th:replace="fragments/header :: header-css"/> -->
</head>
<body>

<h2>List of Orders</h2>
<!-- <div th:replace="fragments/header :: header"/> -->

<div class="container">

    <div class="starter-template">
    <a th:href="@{/CreateOrder}" class="btn btn-info">Create an Order</a>
    
    	
    <table border="1">

	    <tr>
	        <th>
	        	<a th:href="@{'/order/' + ${currentPage} + '?sortField=orderName&sortDir=' + ${reverseSortDir}}">Order Name</a>
	        </th>
	        <th>
	        	<a th:href="@{'/order/' + ${currentPage} + '?sortField=orderStatus&sortDir=' + ${reverseSortDir}}">Status</a>
	        </th>
	        <th>
	        <a th:href="@{'/order/' + ${currentPage} + '?sortField=destinationAdd&sortDir=' + ${reverseSortDir}}">Destination Address</a>
	        	
	        </th>
	        <th>
	        	<a th:href="@{'/order/' + ${currentPage} + '?sortField=recipientContact&sortDir=' + ${reverseSortDir}}">Recipient Contact</a>
	        </th>
	        <th>Tracker Id</th>
	    </tr>
	
	    <tr th:each="order : ${orders}">
	        <td th:text="${order.orderName}">orderName</td>
	        <td th:text="${order.orderStatus}">orderStatus</td>
	        <td th:text="${order.destinationAdd}">destinationAdd</td>
	        <td th:text="${order.recipientContact}">recipientContact</td>
	        <td th:text="${order.trackerId}">recipientContact</td>
	        <!-- <td> 
	        	<img alt="Image" th:src="${'/images/'+car.id}" width="100" height="100"/>
	        </td> -->
	        
	        <td>			
				<a th:href="@{/updateOrder(id=${order.orderId})}" class="btn btn-info">Update</a>				
				<a th:href="@{/deleteOrder(id=${order.orderId})}" class="btn btn-danger ml-2">Delete</a>
			</td>
			
	    </tr>
	</table>
	<div th:if = "${totalPages > 1}">
	   <div class = "row col-sm-10">
		    <div class = "col-sm-2">
		     Total Rows: [[${totalItems}]] 
		    </div>
		    <div class = "col-sm-1">
			     <span th:each="i: ${#numbers.sequence(1, totalPages)}">
				      <a th:if="${currentPage != i}" th:href="@{'/order/' + ${i}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">[[${i}]]</a>
				      <span th:unless="${currentPage != i}">[[${i}]]</span>  &nbsp; &nbsp;
			     </span>
		    </div>
		    <div class = "col-sm-1">
			     <a th:if="${currentPage != 1}" th:href="@{'/order/' + 1 + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">First</a>
			     <span th:unless="${currentPage != 1}">First</span>
		    </div>
		    <div class = "col-sm-1">
			     <a th:if="${currentPage < totalPages}" th:href="@{'/order/' + ${currentPage + 1}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Next</a>
			     <span th:unless="${currentPage < totalPages}">Next</span>
		    </div>
		     <div class="col-sm-1">
		       	 <a th:if="${currentPage < totalPages}" th:href="@{'/order/' + ${totalPages}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Last</a>
		     <span th:unless="${currentPage < totalPages}">Last</span>
	        </div>
	   </div>
  </div>
    </div>
	


    
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>

    </div>

</div>
<!-- /.container -->

<!-- <div th:replace="fragments/footer :: footer"/> -->

</body>
</html>